<div class="swcontainer">
    <div class="swunderline">
        ​
        <div class="ms-rtestate-read ms-rte-wpbox" contenteditable="false">
            <div
                class="ms-rtestate-notify ms-rtestate-read 4e8cd76e-1a9e-43a7-b045-2bbe749b002f"
                id="div_4e8cd76e-1a9e-43a7-b045-2bbe749b002f"
                unselectable="on"
            ></div>
            <div
                id="vid_4e8cd76e-1a9e-43a7-b045-2bbe749b002f"
                unselectable="on"
                style="display: none"
            ></div>
        </div>
        ​​Employment &amp; Internship Opportunities<br />
    </div>
    <br />
    <br />
    <div class="swcontent">
        The Maryland WIC Program is looking for qualified professional and
        paraprofessional staff to fill a variety of positions. Individuals
        seeking employment should have an interest in nutrition and
        breastfeeding and enjoy working with children.
    </div>
    <br />
    <table width="100%">
        <tbody valign="top">
            <tr class="topline">
                <td width="150">
                    <b>Temporary Staff </b>
                </td>
                <td>
                    Full or part-time temporary workers are hired, trained and
                    assigned to Local Agencies who are looking for
                    short/long-term workers. Positions are state contractual
                    with the potential for permanent employment. The positions
                    for recruitment are: WIC Service Associate and WIC Nutrition
                    Program Trainee. There aren&#39;t any benefits nor
                    guaranteed a specific number of hours. Must have reliable
                    transportation. All job training is provided.<br />
                </td>
            </tr>
            <tr>
                <td
                    class="topline1"
                    colspan="2"
                    style="padding: 5px 5px 10px 0px"
                >
                    ​
                </td>
            </tr>
            <tr class="topline">
                <td>
                    <b>Local Agency </b>
                </td>
                <td>
                    The Maryland WIC Program has 18 Local Agencies across the
                    state of Maryland. Job opportunities within the Local Agency
                    are Clerk, WIC Service Associate, Nutritionist, and
                    Breastfeeding Peer Counselor.<br />
                </td>
            </tr>
            <tr>
                <td
                    class="topline1"
                    colspan="2"
                    style="padding: 5px 5px 10px 0px"
                >
                    ​​
                    <table width="100%">
                        <tbody>
                            <tr style="background-color: #a3b899">
                                <td>Job Title</td>
                                <td>Locations</td>
                                <td>Salary</td>
                                <td>Deadline</td>
                                <td>Status</td>
                            </tr>
                            <tr>
                                <td rowspan="1">Nutrition Technician</td>
                                <td rowspan="1">Baltimore City <br /></td>
                                <td rowspan="1">
                                    <p>
                                        $39,202.00 - $46,370.00 USD Annually<br />
                                    </p>
                                </td>
                                <td rowspan="1">04/24/2024 <br /></td>
                                <td rowspan="1">
                                    <a
                                        href="https://jobapscloud.com/MD/sup/BulPreview.asp?R1=24&R2=003543&R3=0001&Viewer=Admin&Test=Y"
                                        >​Apply</a
                                    ><br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td
                    class="topline1"
                    colspan="2"
                    style="padding: 5px 5px 10px 0px"
                >
                    ​
                </td>
            </tr>
            <tr class="topline" style="padding-top: 10px">
                <td>
                    <b>State WIC Office</b>
                </td>
                <td>
                    The Maryland State WIC Office oversees all operations
                    throughout the state. It&#39;s located conveniently in
                    Downtown Baltimore. There are several departments within the
                    State WIC Office that may have employment opportunities.<br />
                </td>
            </tr>
            <tr>
                <td
                    class="topline1"
                    colspan="2"
                    style="padding: 5px 5px 10px 0px"
                >
                    ​​ ​
                    <table width="100%">
                        <tbody>
                            <tr style="background-color: #a3b899">
                                <td>Job Title</td>
                                <td>Locations</td>
                                <td>Salary</td>
                                <td>Deadline</td>
                                <td>Status</td>
                            </tr>
                            <tr>
                                <td rowspan="1">
                                    NUTRITION SUPERVISOR<br /><br />
                                </td>
                                <td rowspan="1">Baltimore City <br /></td>
                                <td rowspan="1">
                                    <p>$64,828.00 - $108,780.00/yea<br /></p>
                                </td>
                                <td rowspan="1">04/19/2024 <br /></td>
                                <td rowspan="1">
                                    <a
                                        href="https://jobapscloud.com/MD/sup/BulPreview.asp?R1=24&amp;R2=003543&amp;R3=0001&amp;Viewer=Admin&amp;Test=Y"
                                        >​Apply</a
                                    ><br />
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1">
                                    ​Engagement Specialist<br />
                                </td>
                                <td rowspan="1">​Baltimore City<br /></td>
                                <td rowspan="1">
                                    ​$53,627.00 - $89,425.00 USD Annually<br />
                                </td>
                                <td rowspan="1">​04/12/2024<br /></td>
                                <td rowspan="1">
                                    ​<a
                                        href="https://www.jobapscloud.com/MD/sup/bulpreview.asp?b=&amp;R1=24&amp;R2=002247&amp;R3=0030"
                                        style="background-color: #ffffff"
                                        >Apply​</a
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 0px"></td>
            </tr>
            <tr class="topline" style="padding-top: 10px">
                <td>
                    <b>Dietetic Internship - for current employees only​</b>
                </td>
                <td>
                    Please go to
                    <a
                        href="https://www.vdh.virginia.gov/wic-dietetic-internship/"
                        >this page​</a
                    >
                    for details<br />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 0px"></td>
            </tr>
        </tbody>
    </table>
</div>
​​​​​​​​​​​​​​​​​​​​​ ​<br />​​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />​<br />
